
body{
    margin: 0;
    padding: 0;
    background-color: #e4f0ea;

}
.sesion{ 
  width: 330px;
  height: 43    0px;
  margin-left: 830px;
  padding: 30px;
  border:8px solid #026200;
  border-radius: 5%;
  background-color: rgb(220, 251, 200);
  text-align: center;
  font-style: oblique;
  font-family: Georgia;
  font-size: 25px;
  box-shadow:  8px 8px 50px rgb(114, 179, 97);
  margin-top: -180PX;
}
.notiene{
  margin-top: 5px;
  width: 330px;
  height: 1px;
  margin-left: 830px;
  padding: 30px;
  border-radius: 13%;
  box-shadow:  8px 8px 50px rgb(114, 179, 97);
  background-color: rgb(220, 251, 200);
  border:8px solid #026200;
}
input {
    width: 300px;       
    height: 30px;       
    font-size: 22px;  
    padding: 8px; 
    border: 3px solid #026200;
    background-color: rgb(227, 247, 221);
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .entrar{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    margin-top: 33px;
    background-color: #258945;
    border: 3px solid #185635;
    font-size: 18px;
    cursor:pointer;

  }

  .registrate{
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #f4580b;
    position: relative;
    text-decoration:underline;
    cursor: pointer;

  }
  .TEXNO{
   position: relative;
   top: -22px;
   font-size: 15px;
   font-style:initial;
   font-family:'Lucida Sans';
   text-align: center;
  }

  .pie{
  width: 1531px;
  height: 114px;
  background-color: rgb(39, 98, 0);
  box-shadow:  8px 8px 50px rgb(114, 179, 97);
  margin-top: 400px; 
  margin-left: -10px;
  padding-top:2px;
  }

  .autores{
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-left: 130px;
      
  }
  .admin{
    font-size: 12px;            
    color: #ffffff;
    margin-left: 130px;
  }
  .eco{
    margin-left: 1240px;
    margin-top: -60px;
    font-size: 25px;
    color: #ffffff;
  }

  .mundo{
    width: 108px;
    margin-left: 10px;
    margin-top: -120px;
  }

  .personaje{
    width: 650px;
    transform: translateY(807px); 
    margin-top: -809px;
    
    

  }

